body {
    margin: 40px;
    font-family: sans-serif;
}

section,
header {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

.input-group {
    margin-bottom: 10px;
}

input {
    padding: 5px;
    margin-right: 5px;
}

.hidden {
    display: none !important;
}

/* Modal Struct */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border: 1px solid #000;
    width: 300px;
}

.close-btn {
    float: right;
    cursor: pointer;
    font-weight: bold;
}